IS_PRODUCTION=0

# Server
SCHEME=http
FRONTEND_SUB_DOMAIN=
FRONTEND_DOMAIN=localhost:5173

# Security
JWT_ALGO=HS256
JWT_SECRET=super-secret-key
JWT_EXPIRY_SECS=86400

PW_HASH_SALT=change-me
ENCRYPTION_KEY=change-me
ENCRYPTION_IV_LEN=16

# === Infrastructure ===

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=vegate

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0

REDIS_EMAIL_VERIFICATION_KEY_PREFIX=email_verification:
REDIS_EMAIL_VERIFCATION_EXPIRY_SECS=900
REDIS_CHANGE_EMAIL_PREFIX=change_email:

REDIS_PASSWORD_RESET_TOKEN_KEY_PREFIX=password_reset:token:
REDIS_PASSWORD_RESET_EXPIRY_SECS=900
REDIS_CHANGE_PASSWORD_KEY_PREFIX=change_password:

REDIS_CHANGE_USERNAME_KEY_PREFIX=change_username:

VERIFICATION_CODE_EXPIRY_SECS=300

REDIS_ALPACA_OAUTH_PREFIX=alpaca:oauth:
REDIS_ALPACA_OAUTH_TTL_SECS=900

REDIS_STRATEGY_HEARTBEAT_KEY_PREFIX=strategy_deployment:heartbeat:
REDIS_BACKTEST_HEARTBEAT_KEY_PREFIX=backtest:heartbeat:


# Kafka
KAFKA_HOST=localhost
KAFKA_PORT=9092

STRATEGY_DEPLOYMENT_EVENTS_KEY=strategy_deployment_events
BACKTEST_EVENTS_KEY=backtest_events

# Docker
IMAGE_NAME=vegate-backend:latest

# === Internal Services ===

# OHLC Feed
OHLC_FEED_HOST=localhost
OHLC_FEED_PORT=8001

# OMS
OMS_BASE_URL=http://localhost:8082
OMS_SESSION_PREFIX=oms:session:

# Historical Data
HISTORICAL_BASE_URL=http://localhost:8000

# Backtest
MAX_CONCURRENT_BACKTESTS=5
BACKTEST_EXECUTOR_NAME=process

# Deployment
MAX_CONCURRENT_DEPLOYMENTS=5
DEPLOYMENT_EXECUTOR_NAME=process

# === Third Party Integrations ===

# Email
CUSTOMER_SUPPORT_EMAIL=support@example.com
BREVO_API_KEY=your-brevo-api-key

# Alpaca
ALPACA_API_KEY=your-alpaca-api-key
ALPACA_SECRET_KEY=your-alpaca-secret-key
ALPACA_OAUTH_CLIENT_ID=your-alpaca-oauth-client-id
ALPACA_OAUTH_SECRET_KEY=your-alpaca-oauth-secret-key
ALPACA_OAUTH_REDIRECT_URI=http://localhost:8000/auth/alpaca/callback

# LLM
LLM_API_KEY=api-key
LLM_MODEL_NAME=mistral-small-latest