services:
  postgres:
    image: postgres:16
    restart: unless-stopped
    networks:
      - vegate_network
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: unless-stopped
    volumes:
      - redis:/data
    networks:
      - vegate_network
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]

  backend:
    image: wifimemes/vegate-backend:latest
    ports:
      - 8000:8000
    networks:
      - vegate_network
    deploy:
      update_config:
        parallelism: 1
        order: start-first
        failure_action: rollback
        delay: 3s
        monitor: 1m

volumes:
  postgres:
  redis:

networks:
  vegate_network:
    driver: overlay
    attachable: true  
    external: true