name: Build

on:
  workflow_run:
    workflows: ["Test"]
    types: [completed]
    branches:
      - "development"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
          fetch-depth: 0

      - name: Something step
        run: echo "I've been triggered"

      - name: Fetch branches
        run: |
          git fetch origin development
          git checkout development
          git branch

      - name: Merge changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git checkout main
          git merge --allow-unrelated-histories --no-ff -m "Merged development" development
          git push origin main

      - name: Create env file
        run: |
          FPATH='.env'

          cat <<'EOF' > $FPATH
          ${{ secrets.ENV_FILE }}
          EOF

          if [ -s $FPATH ]; then
            echo "$FPATH created successfully"
            exit 0
          else
            echo "Failed to create $FPATH"
            exit 1
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build backend image
        run: |
          docker build --no-cache -t ${{ secrets.DOCKERHUB_IMAGE }}:latest -f docker/Dockerfile .
          docker push ${{ secrets.DOCKERHUB_IMAGE }}:latest

      - name: Build strategy deploy image
        run: |
          docker build --no-cache -t ${{ secrets.STRAT_DEPLOY_DOCKERHUB_IMAGE }}:latest -f docker/strat_deploy.Dockerfile .
          docker push ${{ secrets.STRAT_DEPLOY_DOCKERHUB_IMAGE }}:latest
