name: Build image
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Docker Image
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create .env
        run: |
          set -e

          cat <<'EOF' > .env
          ${{ secrets.ENV_FILE }}
          EOF

          if [ ! -f .env ]; then
            exit 1
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: Login in to Docker
      #   run: |
      #     docker login \
      #       -u ${{ secrets.DOCKERHUB_USERNAME }}
      #       -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Whoami
        run: whoami

      - name: Build Image
        run: |
          TAG=$(openssl rand -hex 16)

          docker build \
            -f docker/Dockerfile \
            -t wifimemes/vegate-backend:$TAG \
            -t wifimemes/vegate-backend:latest \
            --no-cache \
            .

          docker push wifimemes/vegate-backend:latest
          docker push wifimemes/vegate-backend:$TAG

      - name: Create network
        run: |
          if ! docker network inspect vegate_network >/dev/null 2>&1; then
            docker network create \
              --driver overlay \
              --attachable vegate_network
          fi

      - name: Initialise swarm manager
        run: docker swarm init || true

      - name: Create docker compose
        run: |
          set -e

          cat <<'EOF' > docker/docker-compose.yaml
          ${{ secrets.DOCKER_COMPOSE }}
          EOF

          if [ ! -f docker/docker-compose.yaml ]; then
            exit 1
          fi

      - name: Deploy stack
        run: |
          docker stack deploy \
            -c docker/docker-compose.yaml \
            -d=false \
            vegate_stack

      - name: Cleanup
        run: docker system prune -af
