name: Build and deploy stack

on:
  workflow_run:
    workflows: ["Test"]
    types: [completed]
    branches: 
      - 'development'

jobs:
  something:
    runs-on: ubuntu-slim
    name: Something
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}
      
      - name: Something step
        run: echo "I've been triggered"

      - name: Fetch branches
        run: |
          git fetch origin development
          git branch
          # git fetch origin main
      
      - name: Merge changes
        run: |
          # git checkout main
          git merge development
          git push origin main
      

  # build:
  #   if: github.event.pull_request.merged == true || github.event_name == 'push'

  #   name: Build
  #   runs-on: self-hosted
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Create env file
  #       run: |
  #         FPATH='.env'

  #         cat <<'EOF' > $FNAME
  #         ${{ secrets.ENV_FILE }}
  #         EOF

  #         if [ -s $FNAME ]; then
  #           echo "$FNAME created successfully"
  #           exit 0
  #         else
  #           echo "Failed to create $FNAME"
  #           exit 1
  #         fi

  #     - name: Login to Docker Hub
  #       uses: docker/login-action@v3
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}

  #     - name: Initialise swarm
  #       run: docker swarm init || true

  #     - name: Initialise network
  #       run: |
  #         docker network inspect vegate_network || 
  #           docker network create --attachable --driver overlay vegate_network

  #     - name: Build backend image
  #       run: |
  #         docker build --no-cache -t ${{ secrets.DOCKERHUB_IMAGE }}:latest -f docker/Dockerfile .
  #         docker push ${{ secrets.DOCKERHUB_IMAGE }}:latest

  #     - name: Create docker compose file
  #       run: |
  #         cat <<'EOF' > docker/prod-compose.yaml
  #           ${{ secrets.DOCKER_COMPOSE }}
  #         EOF

  #     - name: Deploy to stack
  #       run: docker stack deploy -c docker/prod-compose.yaml vegate_stack
